/*회원가입 랩(폼)-----------------------------*/
.join_wrap form {
  width: 600px;
  min-height: 600px;
  margin: 70px auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  background-color: var(--gray8);
  border-radius: 16px;
  border: solid 1px var(--gray5);
}
/*회원가입 랩-----------------------------*/

/*P태그-----------------------------*/
.join_wrap p {
  text-align: left;
  margin-top: 6px;
  margin-left: 6px;
  font-size: 12px;
  color: var(--gray1);
}

/*인풋 랩-----------------------------*/
.input_wrap {
  width: 350px;
  margin: 0 auto;
}
.input_wrap input {
  padding: 8px;
  border-radius: 8px;
  border: solid 1px var(--gray5);
  width: 100%;
}

/*인풋 랩-----------------------------*/

/*아이디 인풋 랩-----------------------------*/
.input_id {
  display: flex;
  gap: 12px;
}

/*비밀번호 불일치 -----------------------------*/
.check_msg.invalid {
  color: red;
}

/*이메일 전송 ----------------------------------- */
.email_check {
  display: flex;
  flex-direction: column;
}
.email_check > div {
  justify-content: center;
  display: flex;
  gap: 12px;
}
.email_check > input {
  flex-grow: 1;
}
.dup_true {
  color: var(--gray1);
}
.dup_false {
  color: red !important; /* !important : 강제 적용*/
}

/*이메일 인증 ---------------------------------------*/
.input_item {
  display: flex;
  gap: 12px;
}

/*주소 입력 ------------------------------------ */
.addr_input {
  justify-content: center;
  display: flex;
  gap: 12px;
}
.addr_input > input {
  flex-grow: 1;
}

/*인풋 랩 버튼 공통 디자인 ------------------------------------ */
.input_wrap button {
  padding: 6px;
  width: 20%;
  font-size: 12px;
  color: var(--gray8);
  border: none;
  border-radius: 12px;
  background-color: var(--color1);
}
button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
button:active {
  filter: brightness(0.9);
}

/*회원가입 버튼-----------------------------*/
.join_btn_wrap > .join_btn {
  padding: 12px;
  width: 300px;
  color: var(--gray8);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: none;
  border-radius: 12px;
  background-color: var(--color1);
  text-align: center;
}
.join_btn_wrap > .join_btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.join_btn_wrap > .join_btn:active {
  filter: brightness(0.9);
}
/*회원가입 버튼-----------------------------*/
