/*마이페이지 사이즈 좀 크게, 사이드 메뉴까지 들어가야 해서 여유 공간 충분하게*/
.mypage_wrap {
  width: 1200px;
  margin: 0 auto;
}
/*마이페이지 (사이드 메뉴, 정보) 랩 -----------------------------------*/
.mypage_menu_wrap {
  min-height: 600px;
  margin: 50px auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.mypage_title {
  margin: 50px auto;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray6);
}
.mypage_aside h3 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24;
  font-size: 18px;
  font-weight: 600;
}

/*메인 정보창 ----------------------------------------*/
.mypage_content {
  width: 925px;
  min-height: 600px;
  background-color: var(--color4);
  border: 1px solid var(--gray5);
  border-radius: 12px;
}

/*사이드 메뉴 ----------------------------------------*/
.mypage_aside {
  width: 200px;
  background-color: var(--color4);
  border: 1px solid var(--gray5);
  border-radius: 12px;
}

.side_menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
  margin-left: 12px;
}

.side_menu > a {
  text-decoration: none;
}
.side_menu > a:hover {
  text-decoration: underline;
}

/*썸네일 관련-----------------------------------*/
.member_profile_side {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin: 16px;
}
.member_thumb {
  width: 140px;
  height: 140px;
  background-color: var(--gray6);
  border-radius: 50%;
  padding: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* 2. 패딩 수정: 좌우 여백은 유지하되, 아래쪽 패딩을 0으로 해서 바닥에 붙임 */
  padding: 16px 16px 0 16px;
}
.member_thumb > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: -8px;
}

.member_thumb_exists {
  width: 140px;
  height: 140px;
  background-color: var(--gray6);
  border-radius: 50%;
  overflow: hidden;
}
.member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*관리자 관련 -----------------------------------*/
.admin_line {
  margin-top: 24px;
}

.admin_line > ul {
  list-style-type: none;
}
.admin_line > ul:hover {
  cursor: default;
}
.admin_line > ul > li {
  margin: 12px;
}
.admin_line > ul > li > a {
  text-decoration: none;
}
.admin_line > ul > li > a:hover {
  text-decoration: underline;
}
