.board_list_wrap {
  margin-top: 16px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 30px;
}
.board_item {
  width: calc((100% - 30px * 3) / 4);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  cursor: pointer;
  border: 1px solid var(--border);
  transition-duration: 0.3s;
  /*border-radius: 10px;*/
}
.board_item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.board_img_wrap {
  width: 250px;
  height: 250px;
  align-self: center;
}
.board_img_wrap > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.board_info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.board_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 18px;
  margin-left: -4px;
}
.board_sub_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.board_sub_info p {
  font-size: 14px;
}
.board_writer {
  display: flex;
  gap: 4px;
  align-items: center;
}
.board_writer > div {
  background-color: var(--gray6);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  padding: 4px;
}
.board_writer > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.board_writer > .member_thumb_exists {
  background-color: var(--gray6);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px;
}
.board_writer > .member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
