.menubar {
  display: flex;
}

.menubar .select_where {
  display: flex;
  flex-direction: column;
}

.menubar .select_where .select_where_content {
  display: flex;
}

.menubar .select_where .select_where_content_areas {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
}

.menubar .select_where .select_where_content_area {
  align-content: center;
  width: 50px;
  text-align: center;
  border: 1px solid #000;
}

.menubar .select_where .select_where_content_area:nth-child(2n + 1) {
  border-top: none;
  border-right: none;
}

.menubar .select_where .select_where_content_area:nth-child(2n) {
  border-top: none;
}

.menubar .select_where .select_where_content_area:first-child,
.menubar .select_where .select_where_content_area:nth-child(2) {
  border-top: 1px solid #000;
}

.menubar .select_where .select_where_content_sigungu {
  display: flex;
  width: 180px;
  gap: 20px;
  flex-wrap: wrap;
  border: 1px solid #000;
  border-left: none;
  padding: 20px;
}
