/*프로필 이미지 ------------------------------------------------*/
.member_thumb {
  width: 140px;
  height: 140px;
  background-color: var(--gray6);
  border-radius: 50%;
  padding: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* 하단 패딩을 0으로 설정해서 바닥에 붙임 */
  padding: 16px 16px 0px 16px;
}
.member_thumb > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: -8px;
}
.member_thumb_exists {
  width: 140px;
  height: 140px;
  background-color: var(--gray6);
  border-radius: 50%;
  overflow: hidden;
}
.member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*회원 리스트------------------------------------------------------*/
.member_list_wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.member_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  border: 1px solid var(--gray6);
  border-radius: 12px;
  padding: 24px 12px;
  background-color: var(--color4);
  font-size: 20px;
}

/*회원 정보 ----------------------------------------*/
.member_info_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.member_info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
}
.member_info p {
  font-weight: 500;
}

.id_name_wrap {
  display: flex;
  gap: 24px;
}

.grade_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/*회원 상세 정보 ----------------------------------------------*/

.detail_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail_toffle_btn {
  width: 100%;
  display: flex;
}
.detail_toffle_btn > p:hover {
  cursor: pointer;
}

.member_detail_info_wrap {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 48px;
  padding: 8px 12px;
  background-color: var(--gray8);
  border: 1px solid var(--gray6);
  border-radius: 8px;
}
.detail_group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.member_detail_info_btn {
  height: 26px;
  font-size: 18px;
  color: var(--gray2);
  padding: 4px 12px;
}

.member_detail_info_btn:hover {
  font-weight: 600;
  cursor: pointer;
}

/*회원 등급 변경 --------------------------------------------*/
.grade_change_wrap {
  display: flex;
  gap: 24px;
  align-items: center;
}

.grade_change_wrap select {
  padding: 8px 12px;
  font-size: 16px;
}
