/*코스뷰페이지*/
.course_view_wrap {
  width: 1200px;
  margin: 0 auto;
}
.page_title_wrap {
  border-bottom: 1px solid var(--gray6);
  margin-top: 100px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.title_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.page_title_index {
  padding: 2px 12px;
  background-color: var(--color1);
  border-radius: 16px;
  color: var(--gray8);
  font-size: 22px;
}
.page_title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
.title_content {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}
.course_like_count {
  display: flex;
  gap: 4px;
  font-size: 16px;
  align-items: center;
  align-self: self-end;
}
.course_like_count > p {
  font-size: 20px;
}
.course_like_count > svg {
  cursor: pointer;
}
.summary_wrap {
  display: flex;
  justify-content: center;
  text-align-last: start;
  padding: 80px 0;
}

.course_summary {
  font-size: 18px;
  overflow-wrap: break-word;
  padding: 0 12px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
.course_writer {
  align-self: self-end;
  font-size: 18px;
}
.delete_btn {
  display: flex;
  gap: 8px;
  justify-content: end;
  margin: 32px 0;
}

/*어트랙션 아이템*/
.attraction_wrap {
  display: flex;
  gap: 36px;
  margin-bottom: 46px;
  padding-bottom: 46px;
  border-bottom: 1px solid var(--gray6);
}
.content_wrap {
  width: 582px;
  height: 350px;
}
.content_title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.content_title > div {
  width: 35px;
  height: 33px;
  border-radius: 50%;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_title > div > p {
  font-size: 24px;
  color: var(--gray8);
}

.content_title > h3 {
  font-size: 26px;
  font-weight: 600;
}
.img_wrap {
  width: 582px;
  height: 350px;
}
.img_wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.attraction_content {
  height: 305px;
  overflow: hidden;
  line-height: 1.6;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}
