.datepicker_container {
  position: relative;
  display: inline-block;
  width: 150px;
  display: flex;
  z-index: 10;
  align-items: center;
}

.datepicker_container * {
  color: var(--text1);
}

.custom_input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.93em;
}

.custom_input:focus {
  border-color: var(--color1);
}

:global(.react-datepicker__header) {
  background-color: var(--gray8);
  border-bottom: 1px solid var(--gray7);
}

:global(.react-datepicker__day--selected) {
  background-color: var(--color1) !important;
  color: var(--gray8);
}

:global(.react-datepicker__day--disabled) {
  color: var(--gray5);
  cursor: not-allowed;
}

:global(.react-datepicker__day--outside-month) {
  color: var(--gray5);
}

:global(.react-datepicker__day--keyboard-selected) {
  background-color: var(--gray8);
}

:global(.react-datepicker-popper) {
  margin-top: 5px;
}
