.tour_list_triangle {
  position: absolute;
  margin-left: 74.666%;
  margin-top: -7.5px;
  background: var(--gray8);
  width: 15px;
  height: 15px;
  border-left: 1px solid var(--border);
  border-top: 1px solid var(--border);
  transform: rotate(45deg);
}

.tour_list_mylist {
  background-color: var(--gray8);
  border: 1px solid var(--border);
  padding: 13px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 12px;
}

.tour_list_mylist .addlist_input_div {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
}

.tour_list_mylist .addlist_input {
  flex: 1;
  border: none;
  outline: none;
  margin-right: 5px;
}

.tour_list_mylist .addlist_input_count {
  font-size: 0.8em;
  color: var(--gray3);
}

.tour_list_mylist .addlist_text1 {
  font-size: 0.9em;
  font-weight: 600;
  padding-left: 3px;
}

.tour_list_mylist .addlist_emoji {
  display: flex;
  flex-wrap: wrap;
  gap: 10.343px;
  border-radius: 5px;
}

.tour_list_mylist .emoji_wrap {
  border-radius: 5px;
  display: flex;
  padding: 2px;
  border-bottom: 1px solid var(--gray8);
}

.tour_list_mylist .emoji_wrap.selectedEmoji {
  border-bottom: 1px solid var(--border);
  box-shadow: 0 0 7px var(--color1);
}

.tour_list_mylist svg path,
.tour_list_mylist svg circle {
  color: var(--color1);
}

.tour_list_mylist .addlist_emoji > * {
  cursor: pointer;
}

.tour_list_mylist .addlist_emoji > *.selected_emoji {
  border: 1px solid #000;
}

.tour_list_mylist .addlist_btn {
  text-align: center;
  align-content: center;
  height: 30px;
  color: var(--color4);
  background-color: var(--color2);
  border-radius: 10px;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.tour_list_mylist .addlist_btn:hover {
  filter: brightness(1.1);
}

.tour_list_mylist .show_list_header {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.tour_list_mylist .wishlist_row {
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    border 0.3s ease;
  gap: 7px;
}

.tour_list_mylist .wishlist_row:hover {
  border: 1px solid var(--color2);
  box-shadow: 0 0 7px var(--color2);
}

.tour_list_mylist .wishlist_row.wishlist_clicked {
  border: 1px solid var(--color2);
  background-color: var(--color2);
}

.tour_list_mylist .wishlist_row.wishlist_clicked svg path,
.tour_list_mylist .wishlist_row.wishlist_clicked div {
  color: var(--gray8);
}

.tour_list_mylist .wishlist_icon_box {
  display: flex;
}

.tour_list_mylist .show_list_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}
