.tour_product_wrap .produt_list_wrap {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.swiper_container {
  position: relative;
}

.swiper_container .btn_prev,
.swiper_container .btn_next {
  font-size: 4em;
  position: absolute;
  top: 37%;
  cursor: pointer;
}

.swiper_container .btn_prev {
  left: -70px;
  z-index: 2;
}

.swiper_container .btn_next {
  right: -70px;
  z-index: 2;
}

.btn_next:global(.swiper-button-disabled),
.btn_prev:global(.swiper-button-disabled) {
  cursor: auto;
  opacity: 0.5;
}
