.tour_product_wrap .produt_list_wrap {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.swiper_container {
  position: relative;
}

.swiper_container .btn_prev,
.swiper_container .btn_next {
  font-size: 4em;
  position: absolute;
  top: 37%;
  cursor: pointer;
}

.swiper_container .btn_prev {
  left: -70px;
  z-index: 2;
}

.swiper_container .btn_next {
  right: -70px;
  z-index: 2;
}

.btn_next:global(.swiper-button-disabled),
.btn_prev:global(.swiper-button-disabled) {
  cursor: auto;
  opacity: 0.5;
}

.search_page_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.search_page_item_wrap {
  width: calc(100% / 4 - 7.5px);
}

.none_result {
  width: 100%;
  text-align: center;
  height: 500px;
  align-content: center;
  font-size: 1.4em;
}

.product_list_title {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 12px;
}

.product_list_allItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product_list_allItem > div {
  width: 285px;
}
