.tour_list_item_wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--gray8);
  transition:
    transform 0.3s ease,
    border 0.3s ease;
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
  height: 320px;
}

.tour_list_item_wrap:hover {
  transform: translateY(-7px);
  border: 1px solid var(--color2);
  z-index: 100;
}

.tour_list_item_wrap .tour_list_item_img {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.tour_list_item_wrap .tour_list_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour_list_item_wrap .tour_list_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.tour_list_item_wrap .tour_list_item_header .tour_list_item_title {
  font-size: 1.2em;
  font-weight: 700;
}

.tour_list_item_wrap .tour_list_item_price {
  margin-bottom: 3px;
}

.tour_list_item_wrap .tour_list_item_price,
.tour_list_item_wrap .tour_list_item_schedule {
  font-size: 0.9em;
}
