/*상품 등록 랩(전체) -------------------------------------------------*/
.tour_insert_wrap {
  width: 1000px;
  margin: 100px auto;
}

/*상품 등록 타이틀 ---------------------------------------------------*/
.insert_title {
  margin: 50px auto;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray6);
}

/*상품 등록 랩----------------------------------------------------*/
.main_wrap {
  background-color: var(--gray8);
  padding: 24px;
}
.btn_wrap {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
.btn_wrap > button {
  font-size: 16px;
}
