<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.attraction.model.dao.AttractionDao">
	<insert id="insertArea">
		INSERT
		  INTO AREA_TBL
		VALUES
		     (
		       AREA_SEQ.NEXTVAL
		     , #{areaCode}
		     , #{areaName}
		     )
	</insert>
	
	<select id="selectAreaCode" resultType="String">
		SELECT AREA_CODE
		  FROM AREA_TBL
		 ORDER
		    BY AREA_NO
	</select>
	
	<select id="selectAreaNo" resultType="Integer">
		SELECT AREA_NO
		  FROM AREA_TBL
		 WHERE AREA_CODE = ${areaCode}
	</select>
	
	<insert id="insertSigungu">
		INSERT
		  INTO SIGUNGU_TBL
		VALUES
		     (
		       SIGUNGU_SEQ.NEXTVAL
		     , #{sigunguCode}
		     , #{sigunguName}
		     , #{areaNo}
		     )
	</insert>
	
	<select id="selectSigunguCode" resultType="String">
		SELECT SIGUNGU_CODE
		  FROM SIGUNGU_TBL
		 WHERE AREA_NO = #{areaNo}
		 ORDER
		    BY SIGUNGU_NO
	</select>
	
	<select id="selectSigunguNo" resultType="Integer">
		SELECT SIGUNGU_NO
		  FROM SIGUNGU_TBL
		 WHERE AREA_NO = #{areaNo}
		   AND SIGUNGU_CODE = #{sigunguCode}
	</select>
	
	<insert id="insertAttraction">
		INSERT
		  INTO TEST_ATTRACTION_TBL
		VALUES
		     (
		       TEST_ATTRACTION_SEQ.NEXTVAL
		     , #{attractionAddr}
		     , #{attractionContentId}
		     , #{attractionThumbnail}
		     , #{attractionModifiedTime}
		     , #{attractionSummary}
		     , #{attractionHoliday}
		     , #{attractionDesignation}
		     , #{attractionFee}
		     , #{attractionRestroom}
		     , #{attractionAccessible}
		     , #{attractionParking}
		     , #{attractionPhone}
		     , #{attractionTitle}
		     , #{sigunguNo}
		     )
	</insert>
	
	<select id="selectAttractionList" resultType="attraction">
    	SELECT ATTRACTION_NO
    		 , ATTRACTION_ADDR
	         , ATTRACTION_THUMBNAIL
	         , ATTRACTION_SUMMARY
	         , ATTRACTION_HOLIDAY
	         , ATTRACTION_DESIGNATION
	         , ATTRACTION_FEE
	         , ATTRACTION_RESTROOM
	         , ATTRACTION_ACCESSIBLE
	         , ATTRACTION_PARKING
	         , ATTRACTION_PHONE
	         , ATTRACTION_TITLE
          FROM TEST_ATTRACTION_TBL
	      JOIN SIGUNGU_TBL USING (SIGUNGU_NO)
	      JOIN AREA_TBL USING (AREA_NO)
	     <where>
		    AND AREA_CODE = #{areaCode}
			<choose>
				 <when test="checkedItems != null and checkedItems.size != 0">
					 AND SIGUNGU_NO IN
					 <foreach collection="checkedItems" item="item" open="(" close=")" separator=",">
						 #{item}
					 </foreach>
				 </when>
				 <otherwise>
					 AND SIGUNGU_NO = 0
				 </otherwise>
			 </choose>
			 <if test="searchKeyword != null and searchKeyword != ''">
				 AND ATTRACTION_TITLE LIKE '%' || #{searchKeyword} || '%'
			 </if>
			 <if test="fee">
			 	 AND ATTRACTION_FEE LIKE '%무료%'
			 </if>
			 <if test="restroom">
			 	 AND ATTRACTION_RESTROOM LIKE '%있음%'
			 </if>
			 <if test="accessible">
			 	 AND ATTRACTION_ACCESSIBLE NOT LIKE '%없음%'
			 </if>
			 <if test="parking">
			 	 AND NOT REGEXP_LIKE(ATTRACTION_PARKING, '불가|없음')
			 </if>
		 </where>
	     ORDER BY ATTRACTION_NO
	    OFFSET #{page} * #{size} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
	<select id="selectAttractionCount" resultType="Integer">
		SELECT COUNT(*)
		  FROM TEST_ATTRACTION_TBL
		  JOIN SIGUNGU_TBL USING (SIGUNGU_NO)
          JOIN AREA_TBL USING (AREA_NO)
		 <where>
		    AND AREA_CODE = #{areaCode}
			<choose>
				 <when test="checkedItems != null and checkedItems.size != 0">
					 AND SIGUNGU_NO IN
					 <foreach collection="checkedItems" item="item" open="(" close=")" separator=",">
						 #{item}
					 </foreach>
				 </when>
				 <otherwise>
					 AND SIGUNGU_NO = 0
				 </otherwise>
			 </choose>
			 <if test="searchKeyword != null and searchKeyword != ''">
				 AND ATTRACTION_TITLE LIKE '%' || #{searchKeyword} || '%'
			 </if>
			 <if test="fee">
			 	 AND ATTRACTION_FEE LIKE '%무료%'
			 </if>
			 <if test="restroom">
			 	 AND ATTRACTION_RESTROOM LIKE '%있음%'
			 </if>
			 <if test="accessible">
			 	 AND ATTRACTION_ACCESSIBLE NOT LIKE '%없음%'
			 </if>
			 <if test="parking">
			 	 AND NOT REGEXP_LIKE(ATTRACTION_PARKING, '불가|없음')
			 </if>
		 </where>
		   AND ATTRACTION_TITLE LIKE '%' || #{searchKeyword} || '%'
	</select>
	
	<select id="selectAreaList" resultType="area">
		SELECT AREA_NO
		     , AREA_CODE
		     , AREA_NAME
		  FROM AREA_TBL
	</select>
	
	<select id="selectSigunguList" resultType="sigungu">
		SELECT SIGUNGU_NO
		     , SIGUNGU_CODE
		     , SIGUNGU_NAME
		     , AREA_NO
		  FROM SIGUNGU_TBL
		  JOIN AREA_TBL USING (AREA_NO)
		 WHERE AREA_CODE = #{areaCode}
		 ORDER
		    BY SIGUNGU_NAME
	</select>
	
	<select id="selectWishList" resultType="Integer">
		SELECT ATTRACTION_NO
		  FROM TEST_ATTRACTION_WISH_TBL
		 WHERE MEMBER_ID = #{memberId}
	</select>
	
	<delete id="deleteWish">
		DELETE
		  FROM TEST_ATTRACTION_WISH_TBL
		 WHERE MEMBER_ID = #{memberId}
		   AND ATTRACTION_NO = #{attractionNo}
	</delete>
	
	<insert id="insertWish">
		INSERT
		  INTO TEST_ATTRACTION_WISH_TBL
		VALUES
		     (
		       TEST_ATTRACTION_WISH_SEQ.NEXTVAL
		     , #{memberId}
		     , #{attractionNo} 
		     )
	</insert>
	
	<select id="selectReviewList">
		SELECT BOARD_NO
		 	 , CASE 
       	 			WHEN LENGTH(BOARD_TITLE) > 15 THEN RTRIM(SUBSTR(BOARD_TITLE, 1, 10)) || ' ...'
			        ELSE BOARD_TITLE 
			    END AS BOARD_TITLE
			 , BOARD_THUMB
			 , BOARD_WRITER
			 , BOARD_DATE
		  FROM BOARD_TBL B
		 WHERE BOARD_CATEGORY = 1
		   AND BOARD_STATUS = 1
		   AND ATTRACTION_NO = #{attractionNo}
		<if test="reviewCategory == 0">
	     ORDER
	        BY (SELECT COUNT(*) 
           		  FROM BOARD_LIKE_TBL L 
                 WHERE L.BOARD_NO = B.BOARD_NO) DESC
		</if>
		<if test="reviewCategory == 1">
	 	 ORDER
	 	    BY BOARD_DATE DESC
		</if>
		<if test="reviewCategory == 2">
		 ORDER
	 	    BY BOARD_DATE ASC
		</if>
	</select>
	
	
	
	<!-- 좋아요 표시한 관광지 목록 조회 -->
<select id="selectLikeAttractionCount" resultType="int">
    SELECT COUNT(*)
    FROM TEST_ATTRACTION_WISH_TBL
    WHERE MEMBER_ID = #{memberId}
</select>

<select id="selectLikeAttractionList" resultType="attraction">
    SELECT 
        A.ATTRACTION_NO, 
        A.ATTRACTION_ADDR, 
        A.ATTRACTION_THUMBNAIL, 
        A.ATTRACTION_SUMMARY, 
        A.ATTRACTION_HOLIDAY,
        A.ATTRACTION_DESIGNATION, 
        A.ATTRACTION_FEE, 
        A.ATTRACTION_RESTROOM, 
        A.ATTRACTION_ACCESSIBLE, 
        A.ATTRACTION_PARKING,
        A.ATTRACTION_PHONE, 
        A.ATTRACTION_TITLE
    FROM TEST_ATTRACTION_TBL A
    JOIN TEST_ATTRACTION_WISH_TBL W ON (A.ATTRACTION_NO = W.ATTRACTION_NO)
    WHERE W.MEMBER_ID = #{memberId}
    ORDER BY W.ATTRACTION_WISH_NO DESC
    OFFSET (#{page} * #{size}) ROWS FETCH NEXT #{size} ROWS ONLY
</select>
	
</mapper>
