<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.board.model.dao.BoardDao">

	<select id="selectBoardList" resultType="board">
    select 
        board_no,
        board_category,
        board_title,
        board_thumb,
        board_writer,
        board_status,
        to_char(board_date,'yyyy-mm-dd') as board_date,
        member_thumb
    from board_tbl 
    join member_tbl on (board_writer = member_id)
    <where>
        <choose>
            <when test="memberGrade == 1">
                board_status = #{status}
            </when>
            <otherwise>
                board_status = 1
            </otherwise>
        </choose>

        <if test="category == 1">
            and board_category = 1
        </if>
         <if test="category == 2">
            and board_category = 2
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <when test="searchType == 1">
                    and board_title like '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 2">
                    and board_writer = #{searchKeyword}
                </when>
            </choose>
        </if>
    </where>

    <choose>
        <when test="order == 2">
            order by board_no asc
        </when>
        <otherwise>
            order by board_no desc
        </otherwise>
    </choose>
    
    offset #{page} * #{size} rows fetch next #{size} rows only
</select>

	<select id="selectBoardCount" resultType="Integer">
		select count(*) from board_tbl
		where board_status = #{status}

    	<if test="category == 1">
      	  	and board_category = 1
    	</if>
    	<if test="category == 2">
        	and board_category = 2
    	</if>

		<if test="searchType == 1">
			and board_title like '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchType == 2">
			and board_writer = #{searchKeyword}
		</if>
	</select>

	<select id="getNewBoardNo" resultType="int">
    	select board_seq.nextval from dual
	</select>

	<insert id="inserBoard">
    	insert into board_tbl (
        	board_no,
        	board_category,
        	board_title,
        	board_content,
        	board_thumb,
        	board_writer,
        	board_date,
        	board_status,
        	attraction_no,
        	location_no,
        	place_name,
        	address_name
    	) values (
        	#{boardNo},
        	#{boardCategory},
        	#{boardTitle},
        	#{boardContent, jdbcType=CLOB},
        	#{boardThumb, jdbcType=VARCHAR},     #{boardWriter},
        	sysdate,
        	1,
        	#{attractionNo, jdbcType=NUMERIC},   #{locationNo, jdbcType=VARCHAR},     #{placeName, jdbcType=VARCHAR},      #{addressName, jdbcType=VARCHAR}     )
	</insert>

<select id="selectOneBoard" resultType="board">
    SELECT
        b.board_no AS boardNo,
        b.board_category AS boardCategory,
        b.board_title AS boardTitle,
        b.board_content AS boardContent,
        b.board_writer AS boardWriter,
        b.board_status AS boardStatus, TO_CHAR(b.board_date, 'yyyy-mm-dd') AS boardDate,
        b.address_name AS addressName,
        m.member_thumb AS memberThumb,
        CASE 
            WHEN b.board_category = 1 THEN a.attraction_title 
            ELSE b.place_name 
        END AS placeName
    FROM board_tbl b
    JOIN member_tbl m ON (b.board_writer = m.member_id)
    LEFT JOIN attraction_tbl a ON (b.attraction_no = a.attraction_no)
    WHERE b.board_no = #{boardNo}
</select>
	
	<update id="updateBoard">
    	update board_tbl set
       		board_title = #{boardTitle},
        	board_content = #{boardContent, jdbcType=CLOB},
        	board_thumb = #{boardThumb, jdbcType=VARCHAR},
        	board_category = #{boardCategory},
        	attraction_no = #{attractionNo, jdbcType=NUMERIC},
        	location_no = #{locationNo, jdbcType=VARCHAR},
        	place_name = #{placeName, jdbcType=VARCHAR},
        	address_name = #{addressName, jdbcType=VARCHAR}
   	 	where board_no = #{boardNo}
	</update>

	<delete id="deleteBoard">
		delete from board_tbl where board_no = #{boardNo}
	</delete>

	<!-- 좋아요 -->
	<select id="selectLikeCount" resultType="int">
		select count(*) from board_like_tbl where board_no = #{boardNo}
	</select>
	
	<select id="selectIsLike" resultType="int">
		select count(*) from board_like_tbl
		where board_no = #{boardNo} and member_id = #{memberId}
	</select>
	
	<insert id="insertLike">
		insert into board_like_tbl values(#{boardNo}, #{memberId})
	</insert>
	
	<delete id="deleteLike">
		delete from board_like_tbl where board_no = #{boardNo} and member_Id = #{memberId}
	</delete>

	<!-- 댓글 -->
	<insert id="insertBoardComment">
		insert into board_comment_tbl (
        board_comment_no,
        board_comment_content,
        board_comment_writer,
        board_no,
        board_comment_date,
        comment_status
    ) values (
        #{boardCommentNo},
        #{boardCommentContent},
        #{boardCommentWriter},
        #{boardNo},
        sysdate,
        1  )
	</insert>
	
	<select id="selectBoardCommentList" resultType="boardComment">
		select
			board_comment_no,
			board_comment_content,
			board_comment_writer,
			board_no,
			board_comment_date,
			comment_status,
			member_thumb
		from board_comment_tbl
		join member_tbl on(board_comment_writer = member_id)
		where board_no = #{boardNo}
		order by board_comment_no
	</select>
	
	<select id="selectNewBoardCommentNo" resultType="int">
		select board_comment_seq.nextval from dual
	</select>
	
	<select id="selectOneBoardComment" resultType="boardComment">
		select
			board_comment_no,
			board_comment_content,
			board_comment_writer,
			board_no,
			board_comment_date,
			comment_status,
			member_thumb
		from board_comment_tbl
		join member_tbl on (board_comment_writer = member_id)
		where board_comment_no = #{boardCommentNo}
	</select>
	
	<update id="updateBoardComment">
		update board_comment_tbl set
			board_comment_content = #{boardCommentContent}
		where board_comment_no = #{boardCommentNo}
	</update>
	
	<delete id="deleteBoardComment">
		delete from board_comment_tbl where board_comment_no = #{boardCommentNo}
	</delete>
	
	<update id="changeBoardStatus" parameterType="board">
    UPDATE board_tbl  SET board_status = #{boardStatus}
    WHERE board_no = #{boardNo}
	</update>
	
	<update id="changeCommentStatus" parameterType="boardComment">
    	update board_comment_tbl set
     		comment_status = #{commentStatus}
    	where board_comment_no = #{boardCommentNo}
	</update>
</mapper>
