<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.course.model.dao.CourseDao">

	<select id="selectTotalCount" resultType="int">
		select count(*) from course_tbl
	</select>
  <select id="selectCourseList" resultType="courseList">
  	select 
	    course_no,
	    course_title,
	    course_content,
	    (select member_name from member_tbl where member_id = c.course_writer) as course_writer,
	    (select count(course_index) from course_attraction_tbl where course_no = c.course_no) as course_count,
	    (select attraction_thumb from course_attraction_tbl where course_no = c.course_no and 
	    course_index = (select min(course_index) from course_attraction_tbl where course_no = c.course_no)) as course_thumb,
	    (select count(member_id) from course_like_tbl where course_no = c.course_no and member_id = #{memberId}) as is_like
	from course_tbl c
	<if test="order == 1">
		order by (select count(member_id) from course_like_tbl where course_no = c.course_no) desc, course_no desc
	</if>
	<if test="order == 2">
		order by course_no desc
	</if>
	offset #{page} * #{size} rows fetch next #{size} rows only
  </select>
  
  <select id="selectCourseAttractionList" resultType="courseAttractionList">
  	select 
  		(select course_writer from course_tbl where course_no = #{courseNo}) as course_writer,
	    attraction_title,
	    attraction_summary,
	    attraction_thumb,
	    attraction_addr,
	    course_index,
	    (select member_name from member_tbl where member_id = (select course_writer from course_tbl where course_no = #{courseNo})) as course_writer_name,
	    (select count(member_id) from course_like_tbl where course_no = #{courseNo}) as like_count,
	    (select course_content from course_tbl where course_no = #{courseNo}) as course_content
	from course_attraction_tbl
	where course_no = #{courseNo}
	order by course_index asc
  </select>
  
  <delete id="deleteCourseLike">
  		delete from course_like_tbl where course_no = #{courseNo} and member_id = #{memberId}
  </delete>
  
  <insert id="insertCourseLike">
  	insert into course_like_tbl values(#{memberId}, #{courseNo})
  </insert>
  
  <select id="selectAttractionList" resultType="attractionList">
  	select 
	    attraction_no,
	    attraction_addr,
	    attraction_thumbnail as attraction_thumb,
	    attraction_summary,
	    attraction_phone,
	    attraction_title,
	    (select count(*) from attraction_wish_tbl where member_id = #{memberId} and attraction_no = a.attraction_no) as is_like
	from attraction_tbl a
	where
	    (select area_no from area_tbl where area_name = #{category}) = 
	    (select area_no from sigungu_tbl where sigungu_no = a.sigungu_no)
	<if test="keyword != null and keyword != ''">
		and attraction_title like '%'||#{keyword}||'%' 
	</if>
	<if test="order == 1">
		and attraction_no in (select attraction_no from attraction_wish_tbl where member_id = #{memberId})
	</if>
  </select>
  
  <select id="selectMemberName" resultType="String">
  	select member_name from member_tbl where member_id = #{memberId}
  </select>
  
  <select id="insertCourseNo" resultType="Integer">
  	select course_seq.nextval from dual 
  </select>
  
  <insert id="insertCourse">
  	insert into course_tbl values
  		(
  			#{courseNo},
  			#{courseTitle},
  			#{courseContent},
  			#{courseWriter}
  		)
  </insert>
  
  <insert id="insertCourseAttraction">
  	insert into course_attraction_tbl values
  		(
  			course_attraction_seq.nextval,
  			#{courseNo},
  			#{courseIndex},
  			#{attractionNo},
  			#{attractionTitle},
  			#{attractionSummary},
  			<if test="attractionThumb == null">
  				null,
  			</if>
  			<if test="attractionThumb != null">
	  			#{attractionThumb},
  			</if>
  			#{attractionAddr}
  		)
  </insert>
  
  <select id="selectCourseTitle" resultType="String">
  	select course_title from course_tbl where course_no = #{courseNo}
  </select>
  
  <delete id="deleteCourse">
  	delete from course_tbl where course_no = #{courseNo}
  </delete>
  
  <select id="selectAttractionAddr" resultType="String">
  	select attraction_addr from attraction_tbl
  </select>
  
  <select id="selectCourse" resultType="courseList">
  	select course_no, course_title, course_content from course_tbl where course_no = #{corseNo} 
  </select>
  
  <select id="selectUpdateCourseAttractionList" resultType="attractionList">
  	select 
  		course_no,
  		course_index,
  		attraction_no,
  		attraction_title,
  		attraction_summary,
  		attraction_thumb,
  		attraction_addr
  	from course_attraction_tbl
  	where course_no = #{courseNo}
  	order by course_index asc 
  </select>
  
  <select id="selectCourseLikeList" resultType="courseList">
  	select * from course_like_tbl where course_no = #{courseNo}
  </select>
  
  <select id="selectCourseLike" resultType="int">
  	select count(member_id) from course_like_tbl where course_no = #{courseNo} and member_id = #{memberId}
  </select>
  
  
  <!-- 좋아요 누른 코스 조회 쿼리 -->
  <select id="selectLikeCourseCount" resultType="int">
  	select count(*) from course_like_tbl 
    where member_id = #{memberId}
  </select>
  
  <select id="selectLikeCourseList" resultType="courseList">
  	select 
        course_no,
        course_title,
        course_content,
        (select member_name from member_tbl where member_id = c.course_writer) as course_writer,
        (select count(course_index) from course_attraction_tbl where course_no = c.course_no) as course_count,
        (select attraction_thumb from course_attraction_tbl where course_no = c.course_no and 
        course_index = (select min(course_index) from course_attraction_tbl where course_no = c.course_no)) as course_thumb,
        1 as is_like
    from course_tbl c
    where course_no in (select course_no from course_like_tbl where member_id = #{memberId})
    
    <if test="order == 1">
        order by course_no desc
    </if>
    <if test="order == 2">
        order by course_no asc
    </if>
    
    offset #{page} * #{size} rows fetch next #{size} rows only
  </select>
  
  <!-- 내가 작성한 코스 목록 조회 -->
  <select id="selectMyCourseCount" resultType="int">
	select count(*)
		from course_tbl
	where course_writer = #{memberId}
  </select>
  
  <select id="selectMyCourseList" resultType="courseList">
  	select 
        course_no,
        course_title,
        course_content,
        (select member_name from member_tbl where member_id = c.course_writer) as course_writer,
        (select count(course_index) from course_attraction_tbl where course_no = c.course_no) as course_count,
        (select attraction_thumb from course_attraction_tbl where course_no = c.course_no and 
        course_index = (select min(course_index) from course_attraction_tbl where course_no = c.course_no)) as course_thumb,
        (select count(*) from course_like_tbl where course_no = c.course_no and member_id = #{memberId}) as is_like
    from course_tbl c
    where course_writer = #{memberId}
    
    <if test="order == 1">
        order by course_no desc
    </if>
    <if test="order == 2">
        order by course_no asc
    </if>
    
    offset #{page} * #{size} rows fetch next #{size} rows only
  </select>
  
  
</mapper>











