<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">

	<select id="selectOneMember" resultType="member">
		select * from member_tbl where member_id = #{memberId}
	</select>
	
	<insert id="insertMember">
		insert into member_tbl values(
			#{memberId},
			#{memberPw},
			#{memberName},
			#{memberEmail},
			#{memberPhone},
			#{memberAddr},
			#{memberAddrDetail},
			null,
			0,
			sysdate
		)
	</insert>
	
	<update id="updateMemberThumb">
		update member_tbl 
			set member_thumb = #{memberThumb}
		where member_id = #{memberId}
	</update>
	
	<update id="updateMember">
		update member_tbl set 
			member_name = #{memberName},
			member_email = #{memberEmail},
			member_phone = #{memberPhone},
			member_addr_detail = #{memberAddrDetail}
		where member_id = #{memberId}
	</update>
	
	<delete id="deleteMember">
		delete from member_tbl where member_id = #{memberId}
	</delete>
	
	<update id="updateMemberPw">
		update member_tbl set
			member_pw = #{memberPw}
		where member_id = #{memberId}
	</update>
	
	<select id="selectOneMemberEmail" resultType="member">
		select * from member_tbl where member_email = #{memberEmail}
	</select>
	
	<select id="selectOneMemberPhone" resultType="member">
		select * from member_tbl where member_phone = #{memberPhone}
	</select>
	
	<select id="selectMemberTotalCount" resultType="Integer">
		select count(*) from member_tbl
			<where>
				<if test="grade != 0">
					and member_grade = #{grade} - 1
				</if>
				<if test="searchKeyword != null and searchKeyword != ''">
				and (member_id like '%' || #{searchKeyword} || '%' 
					or member_name like '%' || #{searchKeyword} || '%')
			</if>
			</where>
	</select>
	
	<select id="selectMemberList" resultType="member">
		select
			member_id,
			member_name,
			member_email,
			member_phone,
			member_addr,
			member_addr_detail,
			member_thumb,
			member_grade,
			enroll_date
		from member_tbl
		<where>
			<if test="grade != 0">
				and member_grade = #{grade} - 1
			</if>
			<!-- 유저 이름, 아이디 검색 -->
			<if test="searchKeyword != null and searchKeyword != ''">
				and (member_id like '%' || #{searchKeyword} || '%' 
					or member_name like '%' || #{searchKeyword} || '%')
			</if>
		</where>
		order by
		<if test="order == 0">
		member_name asc
		</if>
		<if test="order == 1">
		member_name desc
		</if>
		<if test="order == 2">
		enroll_date desc
		</if>
		<if test="order == 3">
		enroll_date asc
		</if>
		<if test="order == null or (order != 0 and order != 1 and order != 2 and order != 3)">
        	enroll_date desc
    	</if>
    	
		offset #{page} * #{size} rows fetch next #{size} rows only
	</select>
	
	<update id="changeMemberGrade">
		update member_tbl set
			member_grade = #{memberGrade}
		where member_id = #{memberId}
	</update>
	
	
	<!-- 아이디 찾기 -->
	<select id="selectMemberIdSearch" resultType="member">
    	select
        	member_id,
        	member_name,
        	member_email,
        	member_phone from member_tbl
    	where member_name = #{memberName}
        	and member_email = #{memberEmail} 
        	and member_phone = #{memberPhone}
	</select>
	
	<select id="searchId" resultType="String">
		select member_id from member_tbl
			where member_name = #{memberName}
			and member_email = #{memberEmail}
			and member_phone = #{memberPhone}
	</select>
	
	<select id="selectMemberPwSearch" resultType="member">
		select 
			member_id, 
			member_email 
		from member_tbl
		where member_id = #{memberId}
			and member_email = #{memberEmail}
	</select>
	
	<update id="deleteThumbnail">
    	update member_tbl SET member_thumb = null where member_id = #{memberId}
	</update>

</mapper>
