.tour_detail_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.tour_detail_wrap svg path {
  color: var(--color1);
}

/* 헤더 */
.tour_detail_wrap .tour_detail_header {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.tour_detail_wrap .tour_detail_header > div {
  cursor: pointer;
}

/* content */
.tour_detail_wrap .tour_detail_content {
  width: 100%;
  padding: 20px;
  margin: 7px 0;
  background-color: var(--gray8);
  border-radius: 15px;
}

/* content - 이미지 */
.tour_detail_content .content_img {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.tour_detail_content .content_img .detail_img_wrap {
}

.tour_detail_content .content_img .detail_img_wrap,
.tour_detail_content .content_img .detail_img_wrap * {
  height: 98.3%;
}

.tour_detail_content .content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tour_detail_content :global(.swiper-pagination-bullet-active) {
  background-color: var(--color2);
}

/* content - 헤더 */
.tour_detail_content .content_header {
  width: 100%;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.content_header .header_header {
  display: flex;
  align-items: center;
}

.content_header .header_header .header_title {
  flex: 1;
  font-size: 1.8em;
  font-weight: 700;
}

.content_header .header_header .header_icons {
  display: flex;
  gap: 10px;
}

.content_header .header_header .header_icons > div {
  cursor: pointer;
}

.content_header .header_middle {
  display: flex;
  align-items: center;
}

.content_header .header_middle .middle_date {
  flex: 1;
  font-size: 0.93em;
  font-weight: 400;
}

.content_header .header_middle .middle_cal {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
  gap: 2px;
}

.content_header .header_middle .middle_cal:hover {
  background-color: var(--color2);
  border: 1px solid var(--color2);
}

.content_header .header_middle .middle_cal:hover * {
  color: var(--color4);
}

.content_header .header_middle .middle_cal svg path {
  transform: scale(0.75);
  transform-origin: center;
}

.content_header .header_middle .middle_cal .middle_cal_text {
  font-size: 0.9em;
  margin-right: 2px;
}

.content_header .header_footer {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 7px;
}

.content_header .header_footer .footer_adult {
  font-size: 2.4em;
  font-weight: 600;
}

/* content - content */
.tour_detail_content .content_content {
  width: 100%;
}

.content_content .content_title {
  font-size: 1.5em;
  font-weight: 700;
  padding: 15px 0;
}

.content_schedult_wrap {
  overflow: hidden;
  position: relative;
  max-height: 450px;
}

.whiteboard {
  position: absolute;
  background-color: var(--gray8);
  height: 100px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--gray8));
  display: flex;
  justify-content: center;
  align-items: end;
}
.content_schedult_wrap.showAll {
  max-height: none;
}

.whiteboard .whiteboard_btn,
.close_btn .whiteboard_btn_close {
  width: 300px;
  text-align: center;
  border-radius: 7px;
  padding: 5px;
  height: 30px;
  align-content: center;
  border: 1px solid var(--color2);
  font-size: 0.95em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.whiteboard .whiteboard_btn:hover,
.close_btn .whiteboard_btn_close:hover {
  background-color: var(--color2);
  color: var(--gray8);
}

.close_btn {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.content_schedule {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content_schedule .schedule_titles {
  display: flex;
  gap: 10px;
  align-items: end;
}

.schedule_titles .schedule_title {
  font-size: 1.25em;
  font-weight: 600;
}

.schedule_titles .schedule_when {
  font-size: 0.9em;
}

.content_schedule .schedule_wrap {
  display: flex;
  gap: 20px;
}

.schedule_wrap .schedule_days {
  display: flex;
  flex-direction: column;
}

.schedule_days .schedule_day {
  display: flex;
  gap: 25px;
}

.schedule_wrap .schedule_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule_wrap .sidebar_circle {
  display: flex;
}

.schedule_wrap .sidebar_circle svg path {
  transform: scale(0.6);
  transform-origin: center;
  color: var(--border);
}

.schedule_wrap .sidebar_line {
  flex: 1;
  border: 0.5px solid var(--border);
  width: 1px;
}

.schedule_day .dayday_wrap {
}

.schedule_day .day_place {
  font-size: 1.1em;
  font-weight: 600;
}

.schedule_day .day_detail {
  padding: 10px 0;
}
