.my_pw_wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  max-width: 600px;
  margin: 100px auto;
}
.check_pw_wrap {
  text-align: center;
}
.check_pw {
  display: flex;
  gap: 24px;
}
.new_pw_wrap {
  text-align: center;
}
.input_wrap {
  margin: 20px 0px;
}
.input_wrap > button {
  font-size: 18px;
  white-space: nowrap;
  padding: 12px 16px;
  width: fit-content;
}
.new_pw_wrap {
  margin-top: 36px;
}
.check_btn button {
  margin-top: 24px;
}
.input_wrap input {
  padding: 12px 8px;
}
